{% extends 'base.html' %}
{% load static %}

{% block sadrzaj %}
<h2>Detalji administratorske radnje {{aminradnja.id_radnje}}</h2>

<ul class="nav">
  <li class="nav-item">
    <a class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true" href="{% url 'ZahtjevDetailView' adminradnja.id_zahtjev.id_zahtjev %}" >
    &lt; Detalji zahtjeva {{adminradnja.id_zahtjev.id_zahtjev}}
    </a>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-warning btn-sm" role="button" aria-pressed="true" href="{% url 'AdminRadnjeUpdateView' adminradnja.id_zahtjev.id_zahtjev adminradnja.id_radnje %}">Uredi radnju</a>
  </li>
  {% if not adminradnja.id_uredaj and not adminradnja.instaliraniprogrami_set.get_queryset and not adminradnja.konfiguracija_set.get_queryset %}
  <li class="nav-item">
    <a class="btn btn-outline-danger btn-sm" role="button" aria-pressed="true" href="{% url 'AdminRadnjeDeleteView' adminradnja.id_zahtjev.id_zahtjev adminradnja.id_radnje %}">Obriši radnju</a>
  </li>
  {% else %}
    <li class="nav-item">
        <a class="btn btn-outline-danger btn-sm disabled" role="button" aria-pressed="true" href="" title="Radnja sadrži povezane uređaje, konfiguracije ili instalirane programe">Obriši radnju</a>
    </li>
  {% endif %}
</ul>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
              <th>Datum</th>
              <th>Opis</th>
              <th>Napomena</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>{{adminradnja.datum}}</td>
              <td>{{adminradnja.opis}}</td>
              <td>{{adminradnja.napomena}}</td>
            </tr>
        </tbody> 
    </table>
<h5>Uređaj</h5>
{% if adminradnja.id_uredaj %}
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
              <th>Akcija</th>
              <th>Vrsta</th>
              <th>Hostname ili IP</th>
              <th>Proizvođač</th>
              <th>Model</th>
              <th>Napomena</th>
              <th>Korisnik</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <a href="{% url 'UredajDetailView' adminradnja.id_uredaj.id_uredaj %}" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">Detalji uređaja</a>
              </td> 
              <td>{{adminradnja.id_uredaj.vrsta}}</td>
              <td>{{adminradnja.id_uredaj.hostname_ip}}</td>
              <td>{{adminradnja.id_uredaj.proizvodac|default:"-"}}</td>
              <td>{{adminradnja.id_uredaj.model|default:"-"}}</td>
              <td>{{adminradnja.id_uredaj.napomena|default:"-"}}</td>
              <td>{{adminradnja.id_uredaj.id_korisnik|default:"Nepoznat"}}</td>
            </tr>
        </tbody> 
    </table>
    <h5>Instalirani programi obuhvaćeni ovom administratorskom radnjom</h5>
    {% if adminradnja.instaliraniprogrami_set.get_queryset %}
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
              <th>Akcija</th>
              <th>Naziv programa</th>
              <th>Proizvođač</th>
              <th>Licenca</th>
              <th>Napomena</th>
            </tr>
        </thead>
        <tbody>
        {% for ip in adminradnja.instaliraniprogrami_set.get_queryset %}
            <tr>
                <td>
                <a href="{% url 'ProgramiDetailView' ip.id_programa.id_programa %}" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">Detalji programa</a>
               </td>
                <td>{{ ip.id_programa.naziv_programa|default:'-' }}</td>
                <td>{{ ip.id_programa.proizvodac|default:'-'}}</td>
                <td>{{ ip.id_programa.licenca|default:'-'}}</td>
                <td>{{ ip.id_programa.napomena|default:'-'}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else%}
    <div class="alert alert-warning" role="alert">Ovom administratorskom radnjom nisu instalirani programi </div>
    {% endif %}
    <h5>Komponente uređaja obuhvaćene ovom administratorskom radnjom</h5>
    {% if adminradnja.konfiguracija_set.get_queryset %}
        <table class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
              <th>Akcija</th>
              <th>Vrsta</th>
              <th>Proizvođač</th>
              <th>Model</th>
              <th>opis</th>
            </tr>
        </thead>
        <tbody>
        {% for k in adminradnja.konfiguracija_set.get_queryset %}
            <tr>
                <td>
                <a href="{% url 'KomponenteDetailView' k.id_komponente.id_komponente %}" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">Detalji komponente</a>

               </td>
                <td>{{ k.id_komponente.vrsta }}</td>
                <td>{{ k.id_komponente.proizvodac }}</td>
                <td>{{ k.id_komponente.model }}</td>
                <td>{{ k.id_komponente.opis }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else%}
     <div class="alert alert-warning" role="alert">Ovom administratorskom radnjom nije mijenjana konfiguracija uređaja </div>
    {% endif %}
{% else %}
    <div class="alert alert-warning" role="alert">Ovom administratorskom radnjom za sada nije obuhvaćen nijedan uređaj</div>
     <a class="btn btn-outline-warning btn-sm" role="button" aria-pressed="true" href="{% url 'AdminRadnjeUpdateView' adminradnja.id_zahtjev.id_zahtjev adminradnja.id_radnje %}">Uredi radnju - pridruži uređaj</a>
{% endif %}
</div>
{% endblock sadrzaj%}