{% extends 'base.html' %}
{% load static %}

{% block sadrzaj %}
<h2>Brisanje adminstratorske ovlasti ?</h2>

<form action='' method="post" >{% csrf_token %}
    <div class="alert alert-warning" role="alert">
      <p>{{ adminovlast }}</p>
     <a href="{% url 'UredajDetailView' adminovlast.id_uredaj.id_uredaj %}" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">&lt;Natrag</a>
     <button type="submit" class="btn btn-danger btn-sm">Briši</button>
    </div>
  
</form>

{% endblock sadrzaj %}