{% extends 'base.html' %}
{% load static %}

{% block sadrzaj %}
<h2>Brisanje komponente {{ nabava.id_nabave }}?</h2>

<form action='' method="post" >{% csrf_token %}
    <div class="alert alert-warning" role="alert">
      <p>{{ nabava }}</p>
     <a href="{% url 'NabavaDetailView' nabava.id_nabave %}" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">&lt;Natrag</a>
     <button type="submit" class="btn btn-danger btn-sm">Briši</button>
    </div>
  
</form>

{% endblock sadrzaj %}