{% extends 'base.html' %}
{% load static %}

{% block sadrzaj %}
<h2>Nabave</h2>
<a href="{% url 'NabavaCreateView'%}" class="btn btn-outline-success btn-sm" role="button" aria-pressed="true">Nova nabava</a>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
              <th>Akcija</th>
              <th>Datum</th>
              <th>Organizacijska jedinica</th>
              <th>Dobavljač</th>
              <th>Napomena</th>
            </tr>
        </thead>
        <tbody>
        {% for n in nabave %}
            <tr>
                <td>
                <a href="{% url 'NabavaDetailView' n.id_nabave %}" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">Detalji</a>
               </td>
                <td>{{ n.datum }}</td>
                <td>{{ n.oznaka_org_jed.naziv }}</td>
                <td>{{ n.oznaka_dobavljaca }}</td>
                <td>{{ n.napomena }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% include 'galeb/paginacija.html' %}
</div>
{% endblock sadrzaj%}
