{% extends 'base.html' %}
{% load static %}

{% block sadrzaj %}
<h2>Organizacijska jedinica {{ org_jedinica.oznaka_org_jed }}</h2>
<br>
<ul class="nav">
  <li class="nav-item">
    <a class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true" href="{% url 'OrganizacijskaJedinicaListView' %}" >
    &lt;Organizacijske jedinice
    </a>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-warning btn-sm" role="button" aria-pressed="true" href="{% url 'OrganizacijskaJedinicaUpdateView' org_jedinica.oznaka_org_jed %}" >Uredi organizacijsku jedinicu</a>
  </li>
  {% if not org_jedinica.odjel_set.get_queryset %}
  <li class="nav-item">
    <a class="btn btn-outline-danger btn-sm" role="button" aria-pressed="true" href="{% url 'OrganizacijskaJedinicaDeleteView' org_jedinica.oznaka_org_jed %}">Obriši organizacijsku jedinicu</a>
  </li>
  {% else %}
    <li class="nav-item"title="Organizacijska jedinica se ne može obrisati dok unutar nje postoje odjeli ">
    <a class="btn btn-outline-danger btn-sm disabled" role="button" aria-pressed="true" href="#" >Obriši organizacijsku jedinicu</a>
  </li>
  {% endif %}
</ul>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
              <th>Oznaka</th>
              <th>Naziv</th>
            </tr>
        </thead>
        <tbody>
            <tr>
               <td> {{ org_jedinica.oznaka_org_jed }}</td>
               <td> {{ org_jedinica.naziv }}</td>
            </tr>
        </tbody>
    </table>
<h5> {{ org_jedinica.naziv }} - odjeli</h5>
 <a class="btn btn-outline-success btn-sm" role="button" aria-pressed="true" href="{% url 'OdjelCreateView' org_jedinica.oznaka_org_jed %}" >Novi odjel</a>
</ul>
{% if org_jedinica.odjel_set.get_queryset %}
    
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
              <th>Akcije</th>
              <th>Oznaka odjela</th>
              <th>Naziv odjela</th>
            </tr>
        </thead>
        <tbody>
            {% for od in org_jedinica.odjel_set.get_queryset %}
            <tr>
               <td>
                    <a class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true" href="{% url 'OdjelDetailView' od.oznaka_org_jed.oznaka_org_jed od.oznaka_odjela %}" >Detalji</a>
               </td>
               <td> {{ od.oznaka_odjela }}</td>
               <td> {{ od.naziv }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-warning" role="alert">{{org_jedinica.naziv}} nema za sada upisan niti jedan odjel</div>
{% endif%}

<br><br>
{% if org_jedinica.nabava_set.get_queryset %}
    <h5> {{ org_jedinica.naziv }} - nabave</h5>
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
              <th>Akcija</th>
              <th>Datum</th>
              <th>Organizacijska jedinica</th>
              <th>Dobavljač</th>
              <th>Napomena</th>
            </tr>
        </thead>
        <tbody>
        {% for n in org_jedinica.nabava_set.get_queryset %}
            <tr>
                <td>
                <a href="{% url 'NabavaDetailView' n.id_nabave %}"" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">Detalji</a>
               </td>
                <td>{{ n.datum }}</td>
                <td>{{ n.oznaka_org_jed.naziv }}</td>
                <td>{{ n.oznaka_dobavljaca }}</td>
                <td>{{ n.napomena }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-warning" role="alert">{{org_jedinica.naziv}} nema za sada upisan niti jedan odjel</div>
{% endif%}
</div>
{% endblock sadrzaj%}