{% extends 'base.html' %}
{% load static %}

{% block sadrzaj %}
<h2>Brisanje prostorije {{ prostorija.oznaka_prostorije }}?</h2>

<form action='' method="post" >{% csrf_token %}
    <div class="alert alert-warning" role="alert">
      <p>{{ prostorija }}</p>
     <a href="{% url 'ProstorijaDetailView' prostorija.oznaka_zgrade.oznaka_zgrade prostorija.oznaka_prostorije %}" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">&lt;Natrag</a>
     <button type="submit" class="btn btn-danger btn-sm">Briši</button>
    </div>
  
</form>

{% endblock sadrzaj %}