{% extends 'base.html' %}
{% load static %}

{% block sadrzaj %}
<h2>Uređaji</h2>

<a href="{% url 'UredajCreateView' %}" class="btn btn-outline-success btn-sm" role="button" aria-pressed="true">Novi uređaj</a>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
              <th>Akcija</th>
              <th>Lokacija</th>
              <th>Vrsta uređaja</th>
              <th>Hostname ili IP</th>
              <th>Proizvođač</th>
              <th>Model</th>
              <th>Napomena</th>
              <th>Korisnik</th>
            </tr>
        </thead>
        <tbody>
        {% for u in uredaji %}
            <tr>
                <td>
                <a href="{% url 'UredajDetailView' u.id_uredaj %}" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">Detalji uređaja</a>
               </td>
                <td>{{ u.oznaka_prostorije|default:"Neraspoređen" }}</td>
                <td>{{ u.vrsta }}</td>
                <td>{{ u.hostname_ip|default_if_none:"Nepreimenovan" }}</td>
                <td>{{ u.proizvodac|default_if_none:"-" }}</td>
                <td>{{ u.model|default_if_none:"-" }}</td>
                <td>{{ u.napomena|default_if_none:"-" }}</td>
                <td>{{ u.id_korisnik.ime|default:"N" }}
                    {{ u.id_korisnik.prezime|default:"N" }}
                    ({{ u.id_korisnik.email|default:"-"}})
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% include 'galeb/paginacija.html' %}
</div>
{% endblock sadrzaj%}